body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}

#title {
  background-color: #0d1b2a;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.title-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.title-image {
  width: 80%;
}

.download-button {
  margin: 5% 3%;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #0d6efd;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #0b5ed7;
}

#testimonials {
  background-color: #e9ecef;
  color: #333;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#deals {
  padding: 100px;
}

#cta {
  background-color: #0d1b2a;
  color: #fff;
  padding: 7% 15%;
}

#footer {
  padding: 7% 15%;
  background-color: #f8f9fa;
  color: #333;
}

.affiliate-disclaimer {
  font-size: 0.8rem;
  color: #666;
}

.blog-post {
  text-align: left;
  margin-bottom: 30px;
}

.blog-post img {
  max-width: 100%;
  height: auto;
}
